:root {
--el-color-primary: #1E40AF;
--el-color-primary-light-3: #07229a;
--el-color-primary-light-5: #436fff;
--el-color-primary-dark-2: #1E40AF;

--el-box-shadow-light: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
--el-border-radius-base: 6px;

--el-color-success: #3B82F6; //.el-steps success

}