@import './variable';
@import './utility.scss';
@import './component';

.el-tabs__item{
    font-weight:500 !important;
    font-size:18px !important;

    &:hover{
        color:$blue;
    }

    &.is-active{
        color:$blue;
    }
}

.el-tabs__active-bar{
    color:$blue;
}

.mt-10{
    margin-top:10px;
}


//text color
.text-gray{
    color:#606266;
}



//scrollbar
:deep(.el-scrollbar__bar.is-vertical>div){
    width:8px;
}

:deep(.el-scrollbar__thumb){
    background:#FFFFFF;
    opacity: 1;

    &:hover{
        background:#FFFFFF;
        opacity: 1;
    }
    
}

//input
.custom_input {
    @extend .mb-4;
    .input {
        margin-bottom: 8px;
        width: 280px;
        &--xs {
            width: 150px;
        }
        &--sm {
          width: 200px;
        }
        &--md {
          width: 280px;
        }
        &--lg {
          width: 320px;
        }
      }
    .tips {
        font-size: 14px;
        color: $default_color_grey;
      }
}
.file-preview {
    width: 420px;
    height: 220px;
    overflow: hidden;
    object-fit: contain;
}